#header .navbar {
	font-family: 'Bungee', cursive;
	opacity: 0.9;
}

#main-logo {
	font-size: 20px;	
	color: #59908e;
}

#header .navbar ul {	
	margin-right: 10px;
}

#header .jumbotron {
	background-image: url('https://igorarkhipenko.github.io/travel/i/main.jpg');
	background-position: center 30%;
	background-size: cover;
	background-attachment: fixed;
	color: white;
	height: 100vh;
}

#header #discover {
	font-family: 'Bungee', cursive;
}

#header #travel {
	font-family: 'Merienda One', cursive;
	margin-left: 60%;
}

#header #live {
	font-family: 'Merienda One', cursive;
	margin-left: 50%;
}

#about .container {	
	//background-color: #bed8d7;
}

#about .container #logo {
	border-radius: 50%;
	border-color: #bed8d7;
	border-style: solid;
}

#header #contacts {
}

#services {
	padding: 10px;
	background-color: #bed8d7;
}

#portfolio .container .thumbnail {
	padding: 8px;	
	background-color: #bed8d7;
	font-family: 'Indie Flower', cursive;
	font-size: 24px;
}

.logo-small {
	color: #59908e;
	font-size: 50px;
}

.block-header {
	padding: 30px 0px 10px 0px;
	font-family: 'Bungee', cursive;
}

.service-icon {
	padding: 10px;
	font-family: 'Merienda One', cursive;
	display: inline;
	float: left;
}

.description {
	padding: 10px;
	font-family: 'Roboto', cursive;
	font-size: 16px;
	line-height: 1.8;
}

.details {
	padding: 10px;
	font-family: 'Roboto', cursive;
	font-size: 14px;
}

.thumbnail {
	padding: 0 0 15px 0;
	border: none;
	border-radius: 0;
}

.thumbnail p {
	margin-top: 15px;
	color: #555;
}